.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('../public/panorama.png') no-repeat center center/cover;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 5px;
  padding: 10px;
  width: 200px;
}

button {
  margin: 5px;
  padding: 10px;
  width: 200px;
}
